{% extends "base.html" %}

{% block content %}
<!-- наполнение главной страницы -->
<div class="films-box">
  {%for film in films%}
    <!-- в ссылке вместо id подставить id фильма -->
    <a href="/films/{{ film['id'] }}">
      <div class="movie-card">
        <img src="{{ film['poster'] }}" alt="Poster" class="movie-poster" />
        <div class="movie-info">
          <h3>{{ film['title'] }}</h3>
          <p>Страна: {{ film['country'] }}</p>
          <p>Год: {{ film['year'] }}</p>
          <p class="rating">Рейтинг: {{ film['rating'] }}</p>
        </div>
      </div>
    </a>
    {%endfor%}
    <!-- таких карточек много .... -->
  
  </div>
  
  <div class="pagination">
    <!-- место для настройки пагинации -->
  </div>
{% endblock %}